

.header-nav-logo {
    margin: 10px 0;
}

.header-nav-logo h1{
    font-size: 2em;
    margin: 0 0 0 10px;
}

.header-nav-panier {
    margin: 0 13px 0 0;
}

.product img{
    width: 100%;
    height: auto;
}


#cardsProduct{
    width: 75%;
}